<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjsu.partyplanner">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PartyPlanner">
        <activity android:name=".Activities.Parties.GuestListActivity"></activity>
        <activity android:name=".Activities.Users.ForgotPasswordActivity" />
        <activity android:name=".Activities.Parties.AddGuestListActivity" />
        <activity android:name=".Activities.Budget.BudgetActivity" />
        <activity android:name=".Activities.Contacts.ContactsActivity" />
        <activity android:name=".Activities.Parties.EditTaskActivity" />
        <activity android:name=".Activities.Parties.EditPartyActivity" />
        <activity android:name=".Activities.Dashboard.InvitationDetailActivity" />
        <activity android:name=".Activities.Dashboard.InvitationListActivity" />
        <activity android:name=".Activities.Parties.PartyDetailActivity" />
        <activity android:name=".Activities.Parties.TaskDetailActivity" />
        <activity android:name=".Activities.Parties.CreateTaskActivity" />
        <activity android:name=".Activities.Parties.TaskListActivity" />
        <activity android:name=".Activities.Parties.CreatePartyActivity" />
        <activity android:name=".Activities.Parties.PartyActivity" />
        <activity android:name=".Activities.Dashboard.DashboardActivity" />
        <activity android:name=".Activities.Dashboard.DetailFragment" />
        <activity android:name=".Activities.Dashboard.DetailActivity" />
        <activity android:name=".Activities.Users.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Users.RegistrationActivity">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>